<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @listing.duration %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @listing.cost %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @listing.street_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @listing.street_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @listing.postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state %>
</p>

<% if @listing.image.attached? == true %>
  <p>
    <strong> </strong>
    <%= cl_image_tag(@listing.image.key, crop: :scale, width: 500, cloud_name: 'dotjus') %>
  </p>
<% end %>


<%= link_to 'View all listings', listings_path %>

<% if user_signed_in? %> |
<td><%= link_to 'Edit', edit_listing_path(@listing) %></td> | 
<td><%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
<% end %>

